<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="1048576" targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <!--<add connectionString="Data Source=ABC123;Initial Catalog=Chat;Integrated Security=True" name="dbcon"/>-->
    <add connectionString="Data Source=DESKTOP-CVNNF3S;Integrated Security=true;Initial Catalog=Chat" providerName="System.Data.SqlClient" name="dbcon" />
  </connectionStrings>
</configuration>
